contourpy
cycler
fonttools
kiwisolver
matplotlib
numpy
packaging
pandas
patsy
pillow
plotly
plotly-express
pyparsing
python-dateutil
pytz
scipy
scikit-learn
seaborn
six
statsmodels
Tcl
tenacity
tzdata
